/* === Card === */

.card{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: 2px;
    overflow: auto;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    /* border: 1px solid gray; */
    background-color: antiquewhite;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover{
    box-shadow: 3px 3px 3px 3px lightblue;
    background-color: rgb(207, 188, 164);
    transform: translateY(-0.5rem);
}

.keyvalue{
    margin: 10px 0 0 0;
}

.itemKey{
    opacity: 0.7;
}

.card-title{
    margin: 10px 0 0 0;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#parameters-filter {
    margin: 10px;
    padding: 20px 12px;
    border: 1px solid #4CAF50;
    width: 390px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#parameters-filter:hover {
    box-shadow: 10px 10px 5px 5px lightblue;
    transform: translateY(-0.5rem);
}
