body {
    margin: 0;
    font-size: 16px;
    background-color: azure;
}

.flex-container-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px 40px 10px 10px;
    margin: 5px;
    border: 1px solid gray;
    background-color: antiquewhite;
}

span {
    font-size: 1.5rem;
    width: 15px;
}

.opera {
    margin-right: 35px;
    margin-left: 35px;
}

.equil {
    margin-left: 25px;
    margin-right: 15px;
}

#input1,
#input2,
#opera {
    width: 70px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #24b629;
}

.result-span {
    margin-right: 1rem;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 5px;
}

.my-input {
    padding: 10px 5px;
    margin: 0 1px;
    border: 1px solid #4CAF50;
}

#parameters{
    margin: 10px;
    padding: 20px;
    border: 1px solid #4CAF50;
}