.flex-container-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px 40px 10px 10px;
    margin: 5px;
    /* border: 1px solid gray; */
    background-color: antiquewhite;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.flex-container:hover{
    box-shadow: 3px 3px 3px 3px lightblue;
    background-color: rgb(207, 188, 164);
    transform: translateY(-0.5rem);
}

span {
    font-size: 1.5rem;
    width: 15px;
}

.opera {
    margin-right: 35px;
    margin-left: 35px;
}

.equil {
    margin-left: 25px;
    margin-right: 15px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #24b629;
}

.result-span {
    margin-right: 1rem;
}

#parameters{
    margin: 10px;
    padding: 20px 12px;
    border: 1px solid #4CAF50;
    width: 380px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#parameters:hover{
    box-shadow: 10px 10px 5px 5px lightblue;
    transform: translateY(-0.5rem);
}

#mathe-input-container{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media (max-width: 380px){

    #parameters{
        width: 200px;
    }

    #mathe-input-container{     
        flex-direction: column;
    }
}